@import '../utils/mixins';
@import '../utils/variables';
.content
{

    margin: 0 auto;
    background-color: $content-bg-color;
    @include  tablet{
       display: flex;
     }

}

.main
{

    display: flex;

    @include smartphone{

        min-height: 100vh;

        justify-content: center;
        padding-top: 5em;



    }
    @include  tablet{
       min-width: 80vw;
       align-items: flex-start;
    }
    @include desktop{
        min-width: 85vw;
    }



  &__content
  {



    @include smartphone{
       justify-content: center;

    }
    @include tablet{
        min-width: 80vw;
    }


  }

}