@import '../utils/mixins';
.content
{
    display: flex;
    flex-direction: column;
    background-color: #E8E8E8;
    min-height: 100vh;


    @include  tablet{
        background-color: blue ;
    }
    @include desktop{

        flex-direction: row;






    }

}
.main
{

    margin: 0 auto;
    font-size:18px;

  &__content
  {




  }

}