.logo {
  font: $header-font;
  padding: 0.9em;
  color: $white;
  &--nav {
    font: $nav-logo-font;
    color: $white;
    padding: 0.2em;
  }

  &__highlight {
    background-color: $secondary-color;
    padding: 0.1em;
    border: 0.1em solid $third-color;
    border-radius: 6px;
  }
}
